---
import projects from '../config/projects.json';
import Project from './Project.astro';

type ProjectProps = {
    title: string;
    description?: string;
    uri: string;
    github?: string;
    imgUri?: string;
    imgPath?: string;
    stack: string[];
    compact?: boolean;
};

---

<main class='projects'>
    <section class="flex-col">
        <h2> Side Projects </h2>
        {projects.primary.map((project: ProjectProps) => <Project {...project}/>)}
    </section>
    <section class="flex-col">
        <h2> Mini Games </h2>
        <div class='secondary-projects'>{projects.secondary.map((project: ProjectProps) => <Project {...project} compact/>)}</div>
    </section>

    <a class='repo' href={projects.portfolio.uri}>
        <div class='img-wrapper'>
            <img src='/icons/github.png' alt='Github' />
        </div>
        View the repo for this website
    </a>
</main>