:root {
  --dark: #212121;
  --darker: black;
  --light: #ececec;
  --lighter: white;

  --gray:  rgb(89, 89, 89);

  --highlight: #6868af;
  --hover: #c2c0ce;

  --shadow: 0px 0px 60px 1px rgb(0 0 0 / 20%);

  --width: 50rem;
}


html {
  font-size: 1rem;
}


/****************** SCROLLBAR ******************/

::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #888888;
}

::-webkit-scrollbar-thumb:hover {
  background: #737373;
}


/****************** ANIMATION ******************/

@keyframes slide {
  from {
    margin-left: -10rem;
  }
  to {
    margin-left: 0;
  }
}

.slide, .slide-1, .slide-2 { animation-name: slide; }
.slide { animation-duration: .5s; }
.slide-1 { animation-duration: 1s; }
.slide-2 { animation-duration: 1.5s; }


@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade, .fade-1, .fade-2,  .fade-fast, .fade-slow { animation-name: fade; }
.fade { animation-duration: .5s; }
.fade-1 { animation-duration: 1s; }
.fade-2 { animation-duration: 1.5s; }
.fade-fast { animation-duration: .2s }
.fade-slow { animation-duration: 2s }



@keyframes slide-down {
  from {
    margin-top: -2rem;
  }
  to {
    margin-top: 0;
  }
}

.slide-down {
  animation-name: slide-down;
  animation-duration: 1s;
}

@keyframes slide-up {
  from {
    margin-bottom: -5rem;
  }
  to {
    margin-bottom: 0rem;
  }
}

.slide-up {
  animation-name: slide-up;
  animation-duration: 1s;
}



/****************** LISTS ******************/

ul.points {
  list-style-type: disc;
  padding-left: 1.2rem;
  color: var(--gray);
}

/****************** LINKS ******************/

.highlight {
  color: var(--highlight) !important;
}

a *, button {
  cursor: pointer !important;
}

a[href] {
  text-decoration: none;
}

a:visited {
  color: unset;
}

.clickable {
  cursor: pointer;
}

/****************** IMAGE WRAPPER ******************/

.image-wrapper {
  display: flex;
  flex-direction: column;
  height: min-content;
}

.image-wrapper img {
  align-self: start;
  max-width: 100%;
  box-shadow: var(--shadow);

}

.image-float {
  max-height: 90vh;
}

.image-float img {
  max-width: 90vw;
  max-height: 90vh;
}

/****************** BUTTONS ******************/

button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 2em;
  width: 4rem;

  color: var(--darker);
  background: var(--light);

  border: none;
  border-radius: .2rem;

  font-weight: bold;

  outline: none !important;

  padding: .2rem 1rem .2rem 1rem;
}

button:hover {
  background: var(--hover);
}

button:active, button:after {
  background: gray;
}

button.green                              { background: #39ca63; }
button.green:hover                        { background: #2cab52; }
button.green:active, button.green:after   { background: #038803; }

button.blue                               { background: #5cc3fb; }
button.blue:hover                         { background: #43a6dc; }
button.blue:active, button.blue:after     { background: #2486bb; }

button.yellow                             { background: #ffde43; }
button.yellow:hover                       { background: #d6b827; }
button.yellow:active, button.yellow:after { background: #caac22; }

button img {
  max-height: 95%;
  width: auto;
}

button img.first {
  padding-right: .2rem;
}

button img.last {
  padding-left: .2rem;
}

/****************** LABELS ******************/

label, p, h, li, a {
  padding: .2rem 0rem .2rem 0rem;
  word-spacing: .1em;
  letter-spacing: normal;
}

label, p {
  color: var(--gray);
}


.title { font-size: 1rem; }
.large { font-size: 2rem; color: var(--gray); }
.medium { font-size: 1.3rem; color: black; }
.small { font-size: 1.1rem; }
.tiny { font-size: .8rem; }

.bold { font-weight: 800;}
.italic { font-style: italic; }
.center { text-align: center; }
.underline { text-decoration: underline; }

/****************** DIV LAYOUTS ******************/

.flex { display: flex; }
.col { flex-direction: column; }
.row { flex-direction: row; }

.space { justify-content: space-between; }

.flex > .right {
  display: flex;
  flex-direction: column;
  flex: 1 1;
}

.center {
  justify-content: center;
  align-items: center;
}

.gap > * {
  margin: .5rem;
}

/****************** LAYOUT ******************/

.main {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  background: var(--darker);
}


/****************** NAV ******************/

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--darker);
  height: 6rem;
  flex-shrink: 0;
  align-items: center;
}

.nav .title {
  width: var(--width);
  text-align: left;
  color: var(--light);
  font-size: 2rem;
}

.nav a:hover {
  text-decoration: underline;
}

/****************** CONTENT ******************/

.content, .content > .wrapper, .content > .wrapper > * {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
  align-items: center;
  background: white;
}

.content > .wrapper {

  align-items: center;
  width: var(--width);
}

.content > .wrapper > * {
  flex: 1 0;
  width: 100%;
  outline: none;
}


.content > .wrapper > .about {
  display: flex;
  padding: 4rem 0 5rem;
  word-break: break-word;
  line-height: 2.6rem;
}

.content > .wrapper > .about span {
  display: contents;
  overflow-wrap: break-word;
}

.content > .wrapper > * {
  padding-bottom: 2rem;
}


/****************** MODULES ******************/

.education > .item,
.projects > .item {
  display: flex;
  flex-direction: column;
  padding: 4rem 0rem 10rem 0rem;
}

/****************** PROJECTS ******************/

.projects .head {
  margin-bottom: .5rem;
}

.projects .subcontent {
  display: flex;
  flex-direction: column;
}

.projects .subcontent > * {
  margin-bottom: 2rem;
}

.projects .display {
  width: 100%;
}

.projects .display .button-panel {
  margin-top: .5rem;
}

.button-panel {
  display: flex;
  align-items: center;
}

.button-panel > *:not(:last-child) {
  padding-right: .5rem;
}

/****************** DEMO ******************/

.demo {
  display: flex;
  flex-direction: column;
  position: fixed;
  box-shadow: var(--shadow);
}

.demo > .bar {
  display: flex;
}

.demo > .item {
  width: 75vw;
  height: 70vh;
  overflow: auto;
  overflow-x: hidden;
}

.blur {
  content: " ";
  position: fixed;
  background: rgba(192, 192, 192, 0.481);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  backdrop-filter: blur(1px);
}

.blur > .close {
  position: fixed;
  background: none;
  height: 100%;
  width: 100%;
  font-size: 1rem;
  color: var(--dark);
  cursor: pointer;
}



.demo.tonedeaf {
  max-height: 90vh;
  max-width: 90vh;
  overflow: auto;
}

/****************** DROPDOWN ******************/

.dropdown {
  width: fit-content;
}

.dropdown > label:first-child {
  cursor: pointer;
  color: var(--highlight);
  position: relative;
}

.dropdown > label:first-child:hover {
  text-decoration: underline;
}

.dropdown > label:first-child:hover::after {
  padding-left: .2rem;
  font-size: 90%;
  content: "\296E";
  position: absolute;
  top: .35rem;
}

.dropdown > .item {
  overflow: hidden;
}

.dropdown > .item > * {
  animation-name: slide-down;
  animation-duration: .4s;
}

.dropdown > .item.reverse > * {
  margin-bottom: -4rem;
  transition: margin-bottom .8s;
}



.education > .item .major {
  display: flex;
  flex-direction: column;
}

.education > .item .courses {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.education .course {
  display: flex;
  flex-direction: column;
  padding: .2rem 0 .5rem 0;
}

.education .course .languages {
  padding: 0;
}




/****************** CONTACT ******************/

.contact {
  display: flex;
  flex-direction: column;
  background: var(--darker);
  flex: 0 0 auto;
  align-items: center;
  padding: 1.5rem;
}

.contact label {
  color: var(--light);
}

.contact .compact-links {
  display: flex;
  justify-content: center;
}

.contact .compact-links > *:not(:last-child) {
  margin-right: 3rem;
}

.contact .links {
  display: flex;
  flex-direction: column;
  width: var(--width);
}

.contact .links > * {
  display: flex;
  align-items: center;
}

.contact .links label {
  padding-left: 1rem;
}

.icon {
  width: 1.8rem;
  height: 2rem;
}

.icon img {
  max-width: 100%;
  filter: brightness(0) invert(1);
}







/****************** MOBILE ******************/

@media only screen 
  and (max-width: 1000px) {

  :root {
    --width: 100%;
  }
  
  html {
    font-size: .9rem;
  }

  .nav {
    height: 1.8rem;
  }
  
  .nav .title {
    font-size: 1.2rem;
  }

  .main {
    flex-direction: column;
  }

  .nav, .content {
    padding: .8rem;
  }

  .content > .wrapper > *:first-child {
    padding-top: 1rem;
  }

  .demo.tonedeaf {
    max-width: 98vw;
    height: 90%;
  }



}