/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('./css/fonts/Lato/lato-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Lato Regular'), local('Lato-Regular'),
       url('./css/fonts/Lato/lato-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./css/fonts/Lato/lato-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./css/fonts/Lato/lato-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./css/fonts/Lato/lato-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./css/fonts/Lato/lato-v16-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}

* {
  font-family: Lato !important;
}

html, body, #root, .App {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.App *, .App *:before, .App *:after {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;

  transition: 
    background .5s ease,
    color .5s ease,
    border .5s ease,
    opacity .5s ease;
}