/* nunito-sans-regular - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url('./css/fonts/Nunito/nunito-sans-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./css/fonts/Nunito/nunito-sans-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./css/fonts/Nunito/nunito-sans-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./css/fonts/Nunito/nunito-sans-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./css/fonts/Nunito/nunito-sans-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./css/fonts/Nunito/nunito-sans-v6-latin-regular.svg#NunitoSans') format('svg'); /* Legacy iOS */
}
/* nunito-sans-800 - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  src: url('./css/fonts/Nunito/nunito-sans-v6-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./css/fonts/Nunito/nunito-sans-v6-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./css/fonts/Nunito/nunito-sans-v6-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('./css/fonts/Nunito/nunito-sans-v6-latin-800.woff') format('woff'), /* Modern Browsers */
       url('./css/fonts/Nunito/nunito-sans-v6-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./css/fonts/Nunito/nunito-sans-v6-latin-800.svg#NunitoSans') format('svg'); /* Legacy iOS */
}

* {
  font-family: Nunito !important;
}

html, body, #root, .App {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

html, body {
  background: black;
}

.App *, .App *:before, .App *:after {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;

  transition: 
    background .5s ease,
    color .5s ease,
    border .5s ease,
    opacity .5s ease;
}