@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.td-div-toptracks {
  font-size: .8rem !important;
}

.td-animate-fade { 
  animation-name: fade;
  animation-duration: 1s;
}

.td-div-toptracks {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  width: 100%;
  position: relative;
  background: #131313;
}

.td-panel {
  display: flex;
  height: min-content;
  width: 100%;
  padding: 2em;
  
  flex-direction: column;
  text-align: left;
}

.td-panel * {
  color: #e6e6e6;
  font-family: sans-serif !important;
  word-spacing: normal !important;
}

.td-panel:not(:last-child) {
  box-shadow: 0 4px 1px -2px rgb(232 232 232 / 14%);
}


.td-div-track {
  display: flex;
}

.td-div-track > .td-info {
  display: flex;
  flex-direction: column;
  padding: .5em 0 .2em 1em;
  width: 100%;
}

.td-div-track > .td-info > .td-item {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: .3em;
  width: 100%;
}

.td-link-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.td-img--medium {
  width: 7em;
  height: 7em;
  align-self: center;
}

.td-label-medium {
  font-size: 1.4em;
  font-weight: bolder;
}

.td-label-small {
  font-size: .9em;
}









@media only screen 
  and (max-width: 768px) {

  .td-img--medium {
    width: 6em;
    height: 6em;
  }

  .td-label-medium {
    font-size: .9em;
    font-weight: bolder;
    padding-bottom: .5em;
  }

  .td-label-small {
    font-size: .8em;
    padding-bottom: .2em;
  }

}